<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <!-- Custom styles -->
    <style>
        #avatar {background-image: url(images/avatar.jpg);}
        #avatar2 {background-image: url(images/avatar2.jpg);}
        .avatar { margin:auto; border-radius:50%; background-position:center; background-repeat: no-repeat; background-size: 100%; height: 70px; width:70px; border: 2px solid #FFF;}
        ul {margin:0; padding:0;}
        ul li{ list-style:none; margin-bottom:5px;}
    </style>
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <ul>
        <li><div id="avatar" class="avatar"></div>Clara Jiménez Recio</li>
        <li><div id="avatar2" class="avatar"></div>Verónica Pintor Rubio</li>
    </ul>
  </body>
</html>