<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title>Registro</title>
  </head>
  <body>
    Crear usuario: <p>
    <form method="post" action="/user" >      
      <% include _form.ejs %>
    </form>
  </body>
</html>
