<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title>Quiz</title>
  </head>
  <body>
    <p>
      <%= respuesta %>
      <a href="/quizes/<%= quiz.id %>">Volver a intentarlo</a>
      <a href="/quizes">Rendirse y volver a la lista de preguntas</a>
    </p>
  </body>
</html>
